In [8]:
# %pip install pandas
# %pip install matplotlib

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
first_n = "John"
last_n = "Doe"

In [13]:
# Using variables in print
print("My first name is {} and last name is {}".format(first_n, last_n)) # Here the order matters
print("My first name is {first} and last name is {last}".format(last=last_n, first = first_n))  # The order of variables does not matter as variables are being named

My first name is John and last name is Doe
My first name is John and last name is Doe

### String data types

In [14]:
my_str = "John Doe"

In [15]:
print(my_str.isalnum()) # checks if the string is alphanumeric
print(my_str.isalpha()) # checks if the string is alphabets only
print(my_str.isdigit()) # checks if the string has digits
print(my_str.istitle()) # checks if each word start with a upper case letter, AND the rest of the word are lower case letters
print(my_str.isupper()) # checks if the string is in uppercase
print(my_str.islower()) # checks if the string is in lowercase
print(my_str.isspace()) # checks if the string has spaces
print(my_str.startswith('J')) # checks if the string starts with the letter mentioned in parameters, [case-sensitive]
print(my_str.endswith('w')) # checks if the string ends with the letter mentioned in parameters, [case-sensitive]

False
False
False
True
False
False
False
True
False

### Lists
The data structure that is mutable/changeable, ordered sequence of elements. Each element is called an item. It is non-homogenous i.e a list can have multiple type of values inside it. e.g. integer, string etc

In [20]:
list_ex = [1,2,3,'John', 9.065]
list_ex

[1, 2, 3, 'John', 9.065]

In [ ]:
# Indexing
list_ex[3] # return the 4th element in the list
list_ex[2:] # return all the elements after and including the 3rd element
list_ex[2:4] # retuns elements from 3rd till the

In [22]:
# Append
list_ex.append('Doe')
list_ex.append(['Hi','there!']) # appends the values as a list instead of adding as new elements
list_ex

[1, 2, 3, 'John', 9.065, 'Doe', 'Doe', ['Hi', 'there!']]

In [23]:
# Insert
list_ex.insert(1,43)
list_ex

[1, 43, 2, 3, 'John', 9.065, 'Doe', 'Doe', ['Hi', 'there!']]

In [24]:
# Extend
list_ex2 = [1,2,3,4,5,6]
list_ex2.extend([7,8]) # adds the values as elements
list_ex2

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
# Various methonds for a list
print(sum(list_ex2)) # adds the elements in a list
print(list_ex2.pop()) # removes the last element of the list
print(list_ex2.pop(0)) # removes the 0th element of the list

36
8
1

In [26]:
list_ex3 = [1,2,2,3,4,5,1]
print(list_ex3.count(1)) #counts and returns the number of time the element is in the list
print(len(list_ex3)) #returns the length/size of the list
print(list_ex3.index(1)) #returns the index of first occurence
print(min(list_ex3)) #returns min of the list
print(max(list_ex3 ))

2
7
0
1
5

### Sets
An unordered collection data type that is iterable, mutable and has no duplicate elements. This is based on a data structure called hash table.

In [27]:
set_var1 = set((1,1,2,2,4,4,5,6,7,8,8,8,8)) # how to convert a data structure to set type
set_var2 = {1,2,3,4,5} # initializing a set data type
print(set_var1,type(set_var1))
print(set_var2,type(set_var2))

{1, 2, 4, 5, 6, 7, 8} <class 'set'>
{1, 2, 3, 4, 5} <class 'set'>

In [29]:
#inbuilt functions of a set
set_var3 = {"batman", "superman", "aquaman"}
set_var3.add("Flash")
set_var3

{'Flash', 'aquaman', 'batman', 'superman'}

In [30]:
# difference
print(set_var2.difference(set_var1))
# intersection
print(set_var2.intersection(set_var1))

{3}

### Dictionary
Collection which is unordered, changeable and indexed. Python dicts are wrtten with curly brackets and they have key:value pairs

In [32]:
# Creating and accessing a dictionary
my_dict = {"car":"Honda", "bike":"Suzuki", "ship": "Vikrant"}
my_dict['car']

'Honda'

In [33]:
# Iteration in a dict
for x in my_dict:
    print(x)    # This iterates over keys

for x in my_dict.values():
    print(x)    # This iterates over values

for x in my_dict.items(): # This iterates over key, value pairs
    print(x)

car
bike
ship
Honda
Suzuki
Vikrant
('car', 'Honda')
('bike', 'Suzuki')
('ship', 'Vikrant')

In [35]:
# Adding new items in a dict
my_dict['tank'] = "T90 M Bhishma"
print(my_dict)

#Updating values in a dict
my_dict['car'] = "tata"
print(my_dict)

{'car': 'Honda', 'bike': 'Suzuki', 'ship': 'Vikrant', 'tank': 'T90 M Bhishma'}
{'car': 'tata', 'bike': 'Suzuki', 'ship': 'Vikrant', 'tank': 'T90 M Bhishma'}

In [38]:
# Nested Dicts and accessing the items
car_model1 = {"merc":1980}
car_model2 = {"audi":1990}
car_model3 = {"fiat":2000}
car_type = {'car1':car_model1, 'car2':car_model2, 'car3':car_model3}
print(type(car_type),"\n", car_type)

#Accessing nested dicts
print(car_type['car1'])
print(car_type['car2']['audi'])

<class 'dict'>
 {'car1': {'merc': 1980}, 'car2': {'audi': 1990}, 'car3': {'fiat': 2000}}
{'merc': 1980}
1990

### Tuple

In [39]:
my_tuple = ('Job','Fair','New')
print(my_tuple)
my_tuple = ('Hello','All') # can replace the whole tuple
print(my_tuple)
# my_tuple[0] = 'Book' # Won't work because tuples are immutable

('Job', 'Fair', 'New')
('Hello', 'All')